<!DOCTYPE HTML>
<html>
	<head>
		<title>the Palace</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="../assets/css/main.css" />
    </head>
	<body class="subpage">

		<!-- Header -->
		<header id="header" data-include="../header.html"></header>

        <!-- Nav -->
        <nav id="menu" data-include="../nav.html"></nav>
		<!-- One -->
			<section id="one" class="wrapper style2">
			    <div class="inner">
			        <div class="box">
			            <div class="image fit">
			                <img src="../images/image01.jpg" alt="" />
			            </div>
			            <div class="content">

			                    <head>
			                        <h2>또 오셨네요</h2>
			                    </head>
			                    <div class="row uniform">
			                        <div class="6u$ 12u$(xsmall)">
										이미 가입이 완료되었습니다.<br/>
										궁 홈페이지에서 로그인하실 수 있어요.
			                        </div>
			                        <div class="6u$ 12u$(xsmall)">
			                            <input type="button" value="메인으로" class="alt" id = "regist"/>
			                        </div>
			                    </div>
			            </div>
                    </div>
                </div>
			</section>

		<!-- Footer -->	
		<footer id="footer" class="wrapper" data-include="../footer.html"></footer>

		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/jquery.scrolly.min.js"></script>
			<script src="assets/js/jquery.scrollex.min.js"></script>
			<script src="assets/js/skel.min.js"></script>
			<script src="assets/js/util.js"></script>
			<script src="assets/js/main.js"></script>

    </body>
    <script src="http://code.jquery.com/jquery.min.js"></script>
	<script>
		$(function () {
			includeLayout();
		});
		$(function(){
				$("#regist").click(function(){
				location.href = "login.html"
			});
			});	
		function includeLayout() {
			var includeArea = $('[data-include]');
			var self, url;
			$.each(includeArea, function () {
				self = $(this);
				url = self.data("include");
				self.load(url, function () {
					self.removeAttr("data-include");
				});
			});
		}
	</script>
</html>