<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
     layout:decorator="layout">
	<head>
		<title>the Palace</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" th:href=@{/static/assets/css/main.css} />
    </head>
	<body class="subpage">

		<!-- Header -->
		<header id="header" th:include="thymeleaf/header"></header>

        <!-- Nav -->
        <nav id="menu" th:include="thymeleaf/nav"></nav>
		<!-- One -->
			<section id="one" class="wrapper style2">
			    <div class="inner">
			        <div class="box">
						<div class="image fit">
							<img th:src=@{/static/images/image01.jpg} alt="" />
						</div>
			            <div class="content">
			                <form method="post" action="#">

			                    <head>
			                        <h2>회원로그인</h2>
			                    </head>
			                    <div class="row uniform">
			                        <div class="6u$ 12u$(xsmall)">
			                            <input type="text" name="demo-name" id="demo-name" placeholder="ID" />
			                        </div>
			                        <div class="6u$ 12u$(xsmall)">
			                            <input type="password" name="demo-password" id="demo-password" placeholder="password" />
			                        </div>
			                        <div class="6u$ 12u$(xsmall)">
			                            <input type="submit" value="로그인" class="alt" />
			                            <input type="button" value="회원가입" class="alt" id = "regist"/>
			                        </div>
			                    </div>
			                </form>
			            </div>
                    </div>
                </div>
			</section>

		<!-- Footer -->	
		<footer id="footer" class="wrapper" th:include="thymeleaf/footer"></footer>

		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/jquery.scrolly.min.js"></script>
			<script src="assets/js/jquery.scrollex.min.js"></script>
			<script src="assets/js/skel.min.js"></script>
			<script src="assets/js/util.js"></script>
			<script src="assets/js/main.js"></script>

    </body>
    <script src="http://code.jquery.com/jquery.min.js"></script>
	<script>
		$(function () {
			includeLayout();
		});
		$(function(){
				$("#regist").click(function(){
				location.href = "sign-up/member-agree.html"
			});
			});	
		function includeLayout() {
			var includeArea = $('[data-include]');
			var self, url;
			$.each(includeArea, function () {
				self = $(this);
				url = self.data("include");
				self.load(url, function () {
					self.removeAttr("data-include");
				});
			});
		}
	</script>
</html>