<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mappers.memberJoinOkMapper">
<update id="joinOkUpdate" 
		parameterType="testSpringBoot.domain.MemberDTO">
	update member
	set join_ok = #{joinOk}
	where user_id = #{userId} and USER_EMAIL = #{userEmail}
	and join_ok is null
</update>

</mapper>	
